In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load Data From EIA, NOAA, and BLS

In [10]:
%run get_data.py "2018-06-19" "2024-02-01"
# run python script to load data and save to Datasets/prelim.csv

Requesting energy demand data from EIA over 10 requests
Requesting energy price data from EIA
Requesting Weather Data from NOAA
Requesting data from Bereau of Labor Statistics

# Show Summary Information about Preliminary Dataset

In [14]:
# display summary of dataset
preliminary_data = pd.read_csv(r"Datasets/preliminary.csv", index_col=0)
desciptions = preliminary_data.describe().round(2)
cols_per_table = 6
for n in range(0,int(np.ceil(desciptions.shape[1]/cols_per_table))):
    # print(n*cols_per_table, (n*cols_per_table)+cols_per_table)
    display(desciptions.iloc[:,n*cols_per_table : (n*cols_per_table)+cols_per_table])

,Energy Demand (MWH),HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyRelativeHumidity,HourlyStationPressure
count,49267.00,48108.00,48117.00,45360.00,48108.00,47907.00
mean,5710.56,42.82,56.90,0.01,62.31,29.88
std,1227.51,19.17,16.93,0.05,19.56,0.23
min,0.00,-17.00,2.00,0.00,7.00,28.71
25%,4815.00,28.00,43.00,0.00,47.00,29.73
50%,5545.00,44.00,57.00,0.00,61.00,29.88
75%,6289.00,59.00,71.00,0.00,78.00,30.04
max,11069.00,79.00,95.00,3.47,100.00,30.59

,HourlyWetBulbTemperature,HourlyWindSpeed,Energy Price (cents/KWH),CPI-U,Unemployment Rate,Unemployment Level
count,47881.00,40865.00,47779.00,49266.00,48523.00,48523.00
mean,50.25,5.01,19.84,295.43,7.14,293521.00
std,15.70,19.47,1.96,17.72,3.97,156851.54
min,0.00,0.00,16.85,273.84,3.30,140697.00
25%,37.00,3.00,18.38,279.47,4.30,183574.00
50%,51.00,5.00,19.29,289.49,5.40,222617.00
75%,64.00,7.00,21.20,313.88,9.90,409961.00
max,81.00,2237.00,23.95,328.01,21.50,836383.00

,Employment Level,Labor Force Level,Employment Population Ratio,Labor Force Participation,Civilian Noninstitutional Population,Payroll Employment
count,48523.00,48523.00,48523.00,48523.00,48523.00,48523.00
mean,3853778.76,4147299.76,55.76,59.99,6915693.82,4465.78
std,238814.31,103952.79,3.58,1.72,174856.23,260.26
min,3046955.00,3707014.00,42.90,52.00,6641170.00,3748.60
25%,3712627.00,4085159.00,54.30,59.60,6746032.00,4225.70
50%,3897289.00,4122588.00,57.40,60.10,6918967.00,4563.10
75%,4076332.00,4254770.00,57.90,60.90,7107466.00,4661.90
max,4141201.00,4322118.00,59.10,62.80,7131615.00,4756.70

# Show Raw Time Series Plots

In [ ]:
# produce plots showing each variable as a time series


# dash app to show time series plot for a single variable at a time

# Show Outliers

In [ ]:
# produce plots showing outliers


# dash app to show outliers for a single variable at a time

# Remove Outliers, Impute Missing Values, Transform Variables

In [ ]:
# run function to clean dataset

# Show Distributions for each Variable

In [ ]:
# run function to produce distribution plots

# dash app to show one distribution plot at a time

# Show Scatter Plot between each Variable and Energy Demand

In [ ]:
# run function to produce correlation plots

# dash app to show one scatter plot at a time

# Show Time Series Decomposition for each Variable

In [ ]:
# run function to produce (and save) time series decomposition plots

# dash app to show one time series decomposition plot at a time

# Fit and Tune VARMA-GARCH Model on Prophet residuals

In [ ]:
# run function to tune VARMA-GARCH model and return best set of hyperparameters
# run function to fit (and save) VARMA-GARCH model using best set of hyperparameters

# dash app to show results?